.container{
    /* border: var(--bdYellow); */
    width: fit-content;
    margin: auto;
    max-width: 48rem;
}

.formBodyDiv{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}


.h2Class{
    /* border: var(--bdYellow); */
    margin: 1vh 0;
    padding: 1vw;
    
    
}