:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ft-sm: 0.75rem;
  --ft-md: 1rem;
  --ft-lg: 2rem;

  --bdBlue: 2px solid blue;
  --bdPink: 2px solid pink;
  --bdYellow: 2px solid yellow;

  --fieldHt: 1.75rem;
  --fieldWd: 85vw;


  --max-width: 600px; 
}

@media screen and (width < 768px) {
  .hideClass {
    opacity: 0;
  }
}
