.formField {
  /* border: var(--bdBlue); */
  max-width: var(--max-width);
  text-align: right;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  align-items: top;
}

.formField textarea {
  resize: none;
}

.formField textarea,
input {
  height: var(--fieldHt);
  width: var(--fieldWd);
  max-width: 99%;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  transition: ease-in-out 150ms;
}

.formField textarea:focus,
input:focus {
  outline: none;
  border-bottom: 2px solid rgba(220, 157, 157, 0.815);
}

label {
  /* border: var(--bdYellow); */
  width: fit-content;
  font-size: var(--ft-md);
}
